---
import Layout from "../layouts/Layout.astro";
import MatrixHeader from "../components/MatrixHeader.astro";
import TitleCard from "../components/TitleCard.astro";
import ProfileCard from "../components/ProfileCard.astro";
import SkillCard from "../components/SkillCard.astro";
import ProjectCard from '../components/ProjectCard.astro'

// Skills
import * as basicSkills from '../content/skills/basic-skills.md'
import * as programmingSkills from '../content/skills/programming-skills.md'
import * as frameworkSkills from '../content/skills/framework-skills.md'
import * as stylingSkills from '../content/skills/styling-skills.md'

// Projects
import * as matrixEffectProject from '../content/projects/matrix-effect-project.md'
import * as tradutorVigenereProject from '../content/projects/tradutor-vigenere-project.md'
import * as emissaoOnlineProject from '../content/projects/emissao-online-project.md'
---

<Layout title="Portfolio Website">

  <main class="bg-zinc-900">
    <div class="relative">

			<MatrixHeader />

      <section class="container mx-auto py-10 md:p-8 mb-20">
        <div class="relative pb-12">
          <div class="flex items-center py-8">
            <div class="w-full h-fit lg:w-1/2 lg:pl-8 lg:pr-60">
              <h1 class="text-white text-center lg:text-start text-5xl font-extrabold">
								Desenvolvedor 
                <span class="text-primary">Frontend</span>
								e entusiasta por 
                <span class="text-primary">Tecnologia</span>!
              </h1>
            </div>

            <div class="w-1/2 hidden lg:flex flex-col items-end gap-4 px-8">

              <TitleCard
								title="Saudações!"
								imagePath="/src/assets/emojis/hand-emoji.svg"
								altText="hand-emoji"
							/>
        
              <div class="text-white text-right max-w-[600px]">
                <span class="font-bold">
                  Olá, é um prazer ter você por aqui! Meu nome é João Mário, e esse é um website criado 
                  com o objetivo de registrar e documentar meu crescimento profissional como desenvolvedor web.
                </span>
                <br>
                <span class="font-bold">
                  Aqui você encontrará descrições das tecnologias que domino, além de documentações de projetos, 
                  que em sua maioria são voltados para desenvolvimento web!
                </span>
              </div>

            </div>

            <div class="w-full flex justify-center absolute bottom-[-100px]">
              <ProfileCard/>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="lg:hidden flex container mx-auto p-8">
      <div class="flex flex-col items-start gap-4">

        <TitleCard
					title="Saudações!"
					imagePath="/src/assets/emojis/hand-emoji.svg"
					altText="hand-emoji"
				/>
  
        <div class="text-white text-left max-w-[600px]">
          <span>
            Olá, é um prazer ter você por aqui! Meu nome é João Mário, e esse é um website criado 
            com o objetivo de registrar e documentar meu crescimento profissional como desenvolvedor web.
          </span>
          <br>
          <span>
            Aqui você encontrará descrições das tecnologias que domino, além de documentações de projetos, 
            que em sua maioria são voltados para desenvolvimento web!
          </span>
  
        </div>
      </div>
    </section>


    <section class="container mx-auto p-8">
      <div class="flex flex-col items-start gap-4">
        <TitleCard
					title="Tecnologias"
					imagePath="/src/assets/emojis/joy-stick-emoji.svg"
					altText="joy-stick-emoji"
				/>

        <div class="w-full flex flex-col gap-4 
          md:grid md:grid-cols-2
          xl:grid xl:grid-cols-4
        ">

          <SkillCard 
            icons={basicSkills.frontmatter.icons}
            text={basicSkills.rawContent()}
					/>

          <SkillCard 
            icons={programmingSkills.frontmatter.icons}
            text={programmingSkills.rawContent()}
          />

          <SkillCard 
            icons={frameworkSkills.frontmatter.icons}
            text={frameworkSkills.rawContent()}
          />

          <SkillCard 
            icons={stylingSkills.frontmatter.icons}
            text={stylingSkills.rawContent()}
          />

        </div>
      </div>
    </section>

    <section class="container mx-auto p-8 pb-4">
      <div class="flex items-center gap-4"> 
        <TitleCard
					title="Projetos"
					imagePath="/src/assets/emojis/files-emoji.svg"
					altText="files-emoji"
				/>
      </div>
    </section>

    <div class="
      snap-x snap-mandatory w-full flex gap-4 overflow-x-scroll
      md:mx-auto md:container
      md:overflow-x-visible md:w-full md:grid md:grid-cols-2
      lg:overflow-x-visible lg:w-full lg:grid lg:grid-cols-3
      px-8 pb-8"
		>

			<div class="snap-center">
        <ProjectCard
          title={emissaoOnlineProject.frontmatter.title}
          about={emissaoOnlineProject.rawContent()}
          stack={emissaoOnlineProject.frontmatter.technologies}
          imagePath={emissaoOnlineProject.frontmatter.image}
          link={emissaoOnlineProject.frontmatter.link}
        />
      </div>

      <div class="snap-center">
        <ProjectCard
          title={matrixEffectProject.frontmatter.title}
          about={matrixEffectProject.rawContent()}
          stack={matrixEffectProject.frontmatter.technologies}
          imagePath={matrixEffectProject.frontmatter.image}
          link={matrixEffectProject.frontmatter.link}
				/>
      </div>

			<div class="snap-center">
        <ProjectCard
          title={tradutorVigenereProject.frontmatter.title}
          about={tradutorVigenereProject.rawContent()}
          stack={tradutorVigenereProject.frontmatter.technologies}
          imagePath={tradutorVigenereProject.frontmatter.image}
          link={tradutorVigenereProject.frontmatter.link}
        />
      </div>

    </div>
  </main>
</Layout>
