---
import Tag from './Tag.astro'

interface Technology {
  name: string;
}

export interface Props {
  title: string;
  about: string;
  stack: Array<Technology>;
  img: string;
  link: string;
}

const { title, about, stack, img, link } = Astro.props
---

<div class="bg-primary bg-opacity-10 border-primary border-2 rounded-lg min-w-[300px] h-full flex flex-col p-4">
  <div class="w-full flex justify-between">
    <span class="text-white font-bold text-lg">{title}</span>
    <a target="_blank" href={link} class="flex items-center gap-2 bg-primary bg-opacity-10 px-2 rounded-lg">
      <span class="text-white text-sm font-bold">acessar</span>
      <img class="w-[20px]" src="/icons/link.svg" alt="link">
    </a>
  </div>

  <div class="w-full h-[150px] mt-8">
    <span class="text-white font-medium opacity-50" >{about}</span>
  </div>

  <div class="w-full h-fit flex gap-2 mt-8">
    {stack.map(tech => (
      <Tag title={tech.name}/>
    ))}
  </div>

  <div class="img-container mt-2">
    <img src={img}>
  </div>
</div>

<style>
.img-container {
  overflow: hidden;
  border-radius: 12px;
}
</style>

