---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import Tag from './Tag.astro'

import linkImage from '/src/assets/link.svg'

export interface Props {
  title: string;
  about: string;
  stack: Array<string>;
  imagePath: string;
  link: string;
}

const { title, about, stack, imagePath, link } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/project-covers/*.{png,gif}')

if (!images[imagePath]) {
	throw new Error(`Image not found: ${imagePath}`)
}
---

<div class="bg-primary bg-opacity-10 border-primary border-2 rounded-lg min-w-[300px] h-full flex flex-col p-4">
  <div class="w-full flex justify-between">
    <span class="text-white font-bold text-lg">{title}</span>
    <a target="_blank" href={link} class="flex items-center gap-2 bg-primary bg-opacity-10 px-2 rounded-lg">
      <span class="text-white text-sm font-bold">acessar</span>
      <Image src={linkImage} alt="link" class="w-[20px]">
    </a>
  </div>

  <div class="w-full h-[150px] mt-8">
    <span class="text-white font-medium opacity-50" >{about}</span>
  </div>

  <div class="w-full h-fit flex gap-2 mt-8">
    {stack.map(tech => (
      <Tag title={tech}/>
    ))}
  </div>

  <div class="overflow-hidden rounded-lg mt-2">
    <Image src={images[imagePath]()} alt={title}/>
  </div>
</div>

