---
interface Icon {
  path: string;
  name: string
}

export interface Props {
  icons: Array<Icon>;
  text: string;
}

const { icons, text } = Astro.props
---

<div class="bg-primary bg-opacity-10 border-primary border-2 rounded-lg py-4 px-6">
  <div class="icons-container flex">
    {icons.map((icon, index) => {
      if (index == 0) {
        return (
          <img class="w-16" src={icon.path} alt={icon.name}/>
        )
      }

      return (
        <img class="w-16 ml-[-12px]" src={icon.path} alt={icon.name}/>
      )
    })}
  </div>

  <div class="mt-3">
    <span class="text-white text-base font-medium">{text}</span>
  </div>
</div>

