---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Icon {
  imagePath: string;
  altText: string
}

export interface Props {
  icons: Array<Icon>;
  text: string;
}

const { icons, text } = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/icons/*.svg')

icons.forEach((icon: Icon) => {
	if (!images[icon.imagePath]) {
		throw new Error(`${icon.altText}" does not exist in glob: "src/assets/*.svg`)
	}
})
---

<div class="bg-primary bg-opacity-10 border-primary border-2 rounded-lg py-4 px-6">
  <div class="icons-container flex">
    {
			icons.map((icon, index) => {
				if (index == 0) {
					return (<Image src={images[icon.imagePath]()} alt={icon.altText} class="w-16"/>)
				}

				return (<Image src={images[icon.imagePath]()} alt={icon.altText} class="w-16 ml-[-12px]"/>)
			})
		}
  </div>

  <div class="mt-3">
    <span class="text-white text-base font-medium">{text}</span>
  </div>
</div>

